body{
    width: 85%;
    margin: auto;
    background: #1d1d1d;
    color: black;
 }
 header{
    text-align: center;
    color: aliceblue;
 }
 h2{
    text-align: center;
    font-size: 200%;
    margin: 0;
    margin-bottom: 20px;
 }
 article{
    border: 1px solid aliceblue;
    background: #c7ecff;
    padding: 1%;
    margin: 25px;
 }
 h3{
    font-size: 180%;
 }
 p{
    font-size: 125%;
 }
 xmp{
    font-size: 25px;
    text-align:center;
    border: 1px solid black;
    background: #2c2c2c;
    color: lightgreen;
    width: 30%;
    margin: auto;
 }
 li{
     font-size: 125%;
 }